<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <meta name="theme-color" content="#2a3140">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.0.6/css/pico.min.css">
  <script src="https://unpkg.com/htmx.org@2.0.1" ></script>

</head>
<body>
  <header class="container">
    <div>
      <nav>
        <a aria-label="Pico CSS homepage" data-discover="true" href="/">
            <img src="/static/robox-logo2.svg" alt="Logo" style="width:100%; max-width:200px;">
        </a>
        <h1>
            <mark style="background: linear-gradient(to right, #d78dd2, #b999ee, #9da5e9, #8fa9f0); -webkit-background-clip: text; background-clip: text; color: transparent;">Configure Settings</mark>
        </h1>
        <li>
          <details class="dropdown">
            <summary role="button" class="secondary">Theme</summary>
            <ul>
              <li><a href="#" data-theme-switcher="auto">Auto</a></li>
              <li><a href="#" data-theme-switcher="light">Light</a></li>
              <li><a href="#" data-theme-switcher="dark">Dark</a></li>
            </ul>
          </details>
        </li>
      </nav>
    </div>
  </header>
  <main class="container">
    <section class="example-list">
    
        <article id="station_article">
            <h2>Station list</h2>
            <div class="overflow-auto">
            <div hx-get="station_list" hx-trigger="load" hx-swap="innerHTML"></div>
            </div>

        </article>

        <div role="group">
          <input type="text" name="url" placeholder="Add URL" />
          <button hx-post="station_list" hx-include="[name='url']" hx-target="#station_article">
              Add
          </button>
        </div>

        <!-- confirm modals -->
      
        <dialog id="edit_warning">
          <article>
            <h2>Already Editing</h2>
            <p>
              Hey you are already editing a row! Please cancel or save the current edit first.
            </p>
            <footer>
              <button onClick="document.getElementById('edit_warning').removeAttribute('open')">Ok</button>
            </footer>
          </article>
        </dialog>
      
        <dialog id="delete_warning">
          <article>
            <h2>Deleting station</h2>
            <p>
              Are you sure to delete this station?
            </p>
            <footer>
              <button 
                id="delete_button"
                hx-delete="/station_list"
                onClick="document.getElementById('delete_warning').removeAttribute('open');">Yes</button>
              <button onClick="document.getElementById('delete_warning').removeAttribute('open')">No</button>
            </footer>
          </article>
        </dialog>
    </section>
  </main>

  
  <!-- Minimal theme switcher -->
  <script src="static?r=minimal-theme-switcher.js"></script>
</body>
</html>